.custom-img-size {
    max-width: 100%; /* Asegura que la imagen nunca sea más grande que su contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    width: 60%; /* Ajustar este valor para reducir aún más el tamaño de la imagen */
    margin: 20px auto; /* Añade un margen superior e inferior y centra la imagen */
    display: block; /* Asegura que la imagen se centre correctamente */
  }

  /* Opcional: ajustar la imagen en pantallas más pequeñas */
  @media (max-width: 768px) {
    .custom-img-size {
      width: 90%; /* En pantallas pequeñas, la imagen ocupará el 90% del contenedor */
      
    }
  }
@media (max-width: 768px) {
  div.help-box {
    display: none !important;
  }
}


.whatsapp-button {
  position: fixed;
  bottom: 100px;
  right: 15px;
  z-index: 99999;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.whatsapp-icon {
  width: 45px;
  height: 45px;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 12px;
  width: 90%; /* Ajustar el ancho para pantallas pequeñas */
  max-width: 320px; /* Limitar el ancho máximo */
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 99999;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #333;
}

/* Ajustes para pantallas móviles */
@media (max-width: 768px) {
  .chat-popup {
      bottom: 50px;
      right: 10px;
      width: 90%;
      padding-top: 30px; /* Espacio adicional para el botón de cerrar */
  }

  .close-button {
      top: 5px; /* Ajustar la posición superior */
      right: 5px; /* Ajustar la posición a la derecha */
  }
}
.testimonials .testimonial-item {
  padding: 20px;
  background-color: #ffffff;
}

.testimonials .testimonial-logo {
  width: 60px;
  margin-bottom: 10px;
}

.testimonials .stars i {
  color: #ffc107;
}

.case-study-item {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.case-study-item:hover {
  transform: translateY(-5px);
}

.learn-more-link {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.learn-more-link:hover {
  text-decoration: underline;
}
/* Ajuste de tamaño para las imágenes de garantías */
.guarantee-icon {
  width: 450px;
  height: 450px;
  object-fit: contain; /* Esto ayuda a ajustar la imagen sin distorsionarla */
  margin-bottom: 15px; /* Espacio entre la imagen y el título */
}
@media (max-width: 768px) {
  .guarantee-icon {
    width: 400px;
    height: 400px;
  }
}
