.custom-img-size {
    max-width: 100%; /* Asegura que la imagen nunca sea más grande que su contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    width: 60%; /* Ajustar este valor para reducir aún más el tamaño de la imagen */
    margin: 20px auto; /* Añade un margen superior e inferior y centra la imagen */
    display: block; /* Asegura que la imagen se centre correctamente */
  }

  /* Opcional: ajustar la imagen en pantallas más pequeñas */
  @media (max-width: 768px) {
    .custom-img-size {
      width: 90%; /* En pantallas pequeñas, la imagen ocupará el 90% del contenedor */
      
    }
  }
@media (max-width: 768px) {
  div.help-box {
    display: none !important;
  }
}


.whatsapp-button {
  position: fixed;
  bottom: 100px;
  right: 15px;
  z-index: 99999;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.whatsapp-icon {
  width: 45px;
  height: 45px;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 12px;
  width: 90%; /* Ajustar el ancho para pantallas pequeñas */
  max-width: 320px; /* Limitar el ancho máximo */
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 99999;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #333;
}

/* Ajustes para pantallas móviles */
@media (max-width: 768px) {
  .chat-popup {
      bottom: 50px;
      right: 10px;
      width: 90%;
      padding-top: 30px; /* Espacio adicional para el botón de cerrar */
  }

  .close-button {
      top: 5px; /* Ajustar la posición superior */
      right: 5px; /* Ajustar la posición a la derecha */
  }
}

.case-study-item {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.case-study-item:hover {
  transform: translateY(-5px);
}

.learn-more-link {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.learn-more-link:hover {
  text-decoration: underline;
}
/* Ajuste de tamaño para las imágenes de garantías */
.guarantee-icon {
  width: 450px;
  height: 450px;
  object-fit: contain; /* Esto ayuda a ajustar la imagen sin distorsionarla */
  margin-bottom: 15px; /* Espacio entre la imagen y el título */
}
@media (max-width: 768px) {
  .guarantee-icon {
    width: 400px;
    height: 400px;
  }
}
.clients .client-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #f8f9fa;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.clients .client-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

.clients .client-card img {
  max-width: 100px;
  transition: transform 0.3s ease;
}

.clients .client-card:hover img {
  transform: scale(1.1); /* Efecto de acercamiento en la imagen al pasar el cursor */
}

.clients .client-card h3 {
  font-size: 1.2em;
  margin-top: 10px;
}

.clients .client-card p {
  font-size: 0.9em;
  color: #666;
}

.clients .client-card .btn {
  margin-top: 15px;
}
/* Estilo para los íconos dentro de la sección de clientes */
#clients .swiper-slide img {
  width: 80px; /* Ajusta este valor según el tamaño que prefieras */
  height: 80px; /* Forzar un tamaño cuadrado */
  object-fit: contain; /* Ajusta la imagen dentro del contenedor sin distorsionar */
  padding: 10px;
}

/* Opcional: Alinear los íconos en el centro de cada slide */
#clients .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}



.testimonials {
  padding: 60px 0;
}
.testimonial-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.testimonial-content {
  padding: 35px;
  background: #fff;
  border-radius: 0px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 100%;
}
.testimonial-text {
  font-size: 1.1em;
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: justify;
}
.testimonial-author {
  margin-top: 20px;
}
.testimonial-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 15px;
}
.author-info h4 {
  font-size: 1.2em;
  margin: 0;
}
.author-info p {
  font-size: 0.9em;
  color: #777;
}
.swiper-button-prev, .swiper-button-next {
  width: 30px;
  height: 30px;
}
.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 18px;
  width: 30px;
  height: 30px;
  color: #ffc107 !important;
}
.swiper-button-next {
  color: #ffc107;
}
.swiper-button-next:hover {
  color: #e0a800;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  color: #e0a800 !important;
}
.section-title-enhanced-black {
  font-weight: bold;
  font-size: 2em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  line-height: 1.2;
}