.custom-img-size {
    max-width: 100%; /* Asegura que la imagen nunca sea más grande que su contenedor */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    width: 60%; /* Ajustar este valor para reducir aún más el tamaño de la imagen */
    margin: 20px auto; /* Añade un margen superior e inferior y centra la imagen */
    display: block; /* Asegura que la imagen se centre correctamente */
  }

  /* Opcional: ajustar la imagen en pantallas más pequeñas */
  @media (max-width: 768px) {
    .custom-img-size {
      width: 90%; /* En pantallas pequeñas, la imagen ocupará el 90% del contenedor */
      
    }
  }
@media (max-width: 768px) {
  div.help-box {
    display: none !important;
  }
}


.whatsapp-button {
  position: fixed;
  bottom: 100px;
  right: 15px;
  z-index: 99999;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.whatsapp-icon {
  width: 45px;
  height: 45px;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 12px;
  width: 90%; /* Ajustar el ancho para pantallas pequeñas */
  max-width: 320px; /* Limitar el ancho máximo */
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 99999;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #333;
}

/* Ajustes para pantallas móviles */
@media (max-width: 768px) {
  .chat-popup {
      bottom: 50px;
      right: 10px;
      width: 90%;
      padding-top: 30px; /* Espacio adicional para el botón de cerrar */
  }

  .close-button {
      top: 5px; /* Ajustar la posición superior */
      right: 5px; /* Ajustar la posición a la derecha */
  }
}

.case-study-item {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.case-study-item:hover {
  transform: translateY(-5px);
}

.learn-more-link {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.learn-more-link:hover {
  text-decoration: underline;
}
/* Ajuste de tamaño para las imágenes de garantías */
.guarantee-icon {
  width: 450px;
  height: 450px;
  object-fit: contain; /* Esto ayuda a ajustar la imagen sin distorsionarla */
  margin-bottom: 15px; /* Espacio entre la imagen y el título */
}
@media (max-width: 768px) {
  .guarantee-icon {
    width: 400px;
    height: 400px;
  }
}
.clients .client-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #f8f9fa;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.clients .client-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

.clients .client-card img {
  max-width: 100px;
  transition: transform 0.3s ease;
}

.clients .client-card:hover img {
  transform: scale(1.1); /* Efecto de acercamiento en la imagen al pasar el cursor */
}

.clients .client-card h3 {
  font-size: 1.2em;
  margin-top: 10px;
}

.clients .client-card p {
  font-size: 0.9em;
  color: #666;
}

.clients .client-card .btn {
  margin-top: 15px;
}
/* Estilo para los íconos dentro de la sección de clientes */
#clients .swiper-slide img {
  width: 80px; /* Ajusta este valor según el tamaño que prefieras */
  height: 80px; /* Forzar un tamaño cuadrado */
  object-fit: contain; /* Ajusta la imagen dentro del contenedor sin distorsionar */
  padding: 10px;
}

/* Opcional: Alinear los íconos en el centro de cada slide */
#clients .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}



.testimonials {
  padding: 60px 0;
}
.testimonial-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.testimonial-content {
  padding: 35px;
  background: #fff;
  border-radius: 0px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 100%;
}
.testimonial-text {
  font-size: 1.1em;
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: justify;
}
.testimonial-author {
  margin-top: 20px;
}
.testimonial-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-right: 15px;
}
.author-info h4 {
  font-size: 1.2em;
  margin: 0;
}
.author-info p {
  font-size: 0.9em;
  color: #777;
}
.swiper-button-prev, .swiper-button-next {
  width: 30px;
  height: 30px;
}
.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 18px;
  width: 30px;
  height: 30px;
  color: #ffc107 !important;
}
.swiper-button-next {
  color: #ffc107;
}
.swiper-button-next:hover {
  color: #e0a800;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  color: #e0a800 !important;
}
.section-title-enhanced-black {
  font-weight: bold;
  font-size: 2em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  line-height: 1.2;
}
.code-editor-container {
  width: 100%;
  max-width: 600px; /* Ancho máximo del editor */
  height: 400px; /* Altura fija del editor */
  border-radius: 5px; /* Bordes redondeados */
  overflow: hidden; /* Para asegurarse de que el editor no sobresalga de los bordes */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para un mejor efecto */
  background-color: #2d2d2d; /* Fondo para que se vea mejor con el tema oscuro */
  margin: 0 auto; /* Centrar horizontalmente */
}

.CodeMirror {
  height: 100%; /* Ocupa todo el alto del contenedor */
  width: 100%; /* Ocupa todo el ancho del contenedor */
  overflow: hidden !important; /* Quitar scroll */
}

.CodeMirror-scroll {
  overflow: hidden !important; /* Quitar scroll horizontal y vertical */
}

/* Estilos para el contenedor de publicidad */
.custom-ad-container {
  position: relative;
  width: 90%;
  max-width: 450px;
  padding: 0px;
  background-color: #fff; /* Fondo blanco */
  overflow: hidden;
}

/* Estilos para la imagen */
.custom-image-wrapper {
  position: relative;
  z-index: 2; /* Asegurarse de que la imagen esté sobre los fondos decorativos */
}

.custom-image-wrapper img {
  width: 120%; /* Agrandar la imagen */
  height: auto;
}

/* Estilos para las formas decorativas */
.custom-background-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Detrás de la imagen */
}

/* Estilos para los pasos y la barra de progreso */

.step.completed .circle {
  background-color: #ffc107; /* Amarillo para indicar completado */
  color: #fff;
}

.step.completed {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.step {
  opacity: 0.7;
  transition: opacity 1s ease-in-out;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

/* Ajustar la posición de la barra de progreso para que esté debajo de los pasos */
.progress-bar-wrapper {
  position: relative;
  height: 10px;
  background-color: #e0e0e0; /* Fondo gris para la barra de progreso */
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px; /* Espacio para evitar que toque el contenido */
}
/* Clase unificada para todos los botones */
.btn-uniform {
  background-color: var(--accent-color); /* Utiliza el color de acento de la marca */
  color: var(--contrast-color);
  padding: 10px 20px;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.btn-uniform:hover {
  background-color: var(--contrast-color); /* Cambia el color de fondo al pasar el cursor */
  color: var(--accent-color);
  cursor: pointer;
}

